{% extends "baseWidgetEditor.html" %}
{% include "formMacros.html" %}

{% block modalClass %}
  {{ super() }} apos-facebook-editor
{% endblock%}

{% block modalLabel %}
  {{ __('Select Facebook Page Feed')}}
{% endblock %}

{% block modalInstructions %}
  <p>{{ __("Enter your Facebook page's URL below.")}}</p>
{% endblock %}

{% block formBody %}

  <fieldset class="apos-fieldset apos-fieldset-text apos-fieldset-apos-facebook-url" data-name="facebookUrl">
    <label>Facebook URL</label>
    <input name="facebookUrl" type="text" class="apos-facebook-url">
  </fieldset>

  <fieldset class="apos-fieldset apos-fieldset-text apos-fieldset-apos-facebook-limit" data-name="facebookUrl">
    <label>Number of Posts (up to 25):</label>
    <input name="facebookLimit" type="text" class="apos-input-narrow">
  </fieldset>

{% endblock %}
