{% extends "baseWidgetEditor.html" %}
{% include "formMacros.html" %}

{% block modalClass %}
  {{ super() }} apos-facebook-editor
{% endblock%}

{% block modalLabel %}
  {{ __('Select Facebook Page Feed')}}
{% endblock %}

{% block modalInstructions %}
  <p>{{ __("Enter your Facebook page's URL below.")}}</p>
{% endblock %}

{% block formBody %}

  <fieldset class="apos-fieldset apos-fieldset-text apos-fieldset-apos-facebook-url" data-name="facebookUrl">
    <label>Facebook URL</label>
    <input name="facebookUrl" type="text" class="apos-facebook-url">
  </fieldset>

  {{ formSelect('facebookLimit', 'Number of Posts (up to 10):', [{value:1, label:"1"}, {value:5, label:"5"}, {value:10, label:"10"}] )}}


{% endblock %}
